@model RoleAssingSendModel
@{
    Layout = "_Layout";
}

<form asp-action="AssingRole" method="post" class="p-4 mx-auto w-75 ">
   
    <input type="hidden" asp-for="@Model.UserId"/>
    <div class="list-group">
         @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <input type="hidden" asp-for="@Model.Roles[i].Name"/>
            <input type="hidden" asp-for="@Model.Roles[i].RoleId"/>
           
            <label class="list-group-item">
                <input class="form-check-input me-1" asp-for="@Model.Roles[i].Exist">
                @Model.Roles[i].Name
            </label>
        }
           
    
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">
    </div>
</form>